# .dockerignore

# Ignore git history
.git
.gitignore

# Ignore local environment file
.env

# Ignore dependency folders
# These are installed INSIDE the container
/vendor
/node_modules

# Ignore storage files that shouldn't be in the image
/storage/*.key
/storage/logs/*.log

# Ignore the public storage symlink to prevent build errors
/public/storage
